html {
    background-image: url('fondoMenu.webp');
    background-size: cover;
}

h2 {
    color: aliceblue;
    font-size: 30px;
}

.menu-container {
    text-align: center;
    margin-top: 100px;
}

.menu-title {
    font-size: 60px;
    color: #e63a8a;
    margin-bottom: 20px;
}

.styled-btn {
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
}

.styled-btn:hover {
    background: #45a049;
}

.styled-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    font-size: 12px;
    width: 200px;
    /* Ajustamos el ancho de la cuadrícula */
}

.play-btn-style {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 24px;
    transition: background 0.3s;
}

#username-input,
#board-size,
#game-mode {
    margin-top: 20px;
    /* Aumentamos el margen superior */
}

#game-mode {
    margin-top: 20px;
    /* Aumentamos el margen superior */
    position: relative;
    /* Establecemos la posición relativa */
}

#game-theme {
    position: absolute;
    /* Fijamos la posición absoluta */
    top: 100%;
    /* Colocamos la sección debajo de los botones de modo */
    left: 50%;
    /* Centramos horizontalmente */
    transform: translateX(-50%);
    /* Centramos horizontalmente */
    margin-top: 20px;
    /* Añadimos un poco de margen superior */
}

#board-size,
#game-mode {
    margin-top: 20px;
    /* Ajustamos el margen superior */
}

#board-size .options,
#game-mode .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Para permitir que los elementos se coloquen en múltiples líneas si es necesario */
    margin-top: 20px;
    /* Centramos y agregamos margen superior */
}

#board-size .options button,
#game-mode .options button {
    margin: 10px;
    /* Ajustamos el margen entre los botones */
}

#seconds-input,
#moves-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#seconds-input button,
#moves-input button {
    margin-top: 10px;
}

.play-btn-style {
    display: block;
    margin: 160px auto 0;
    /* Centramos el botón de Jugar */
}

@media screen and (max-width: 768px) {
    .menu-title {
        font-size: 40px;
        /* Reducimos el tamaño del título */
    }

    .styled-btn {
        padding: 8px 16px;
        /* Reducimos el tamaño de los botones */
        font-size: 14px;
        /* Reducimos el tamaño de la fuente de los botones */
    }

    .styled-input {
        width: 160px;
        /* Reducimos el ancho de la cuadrícula */
    }

    .menu-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
    }

    #game-theme {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .play-btn-style {
        position: relative; /* Cambiar a posición relativa */
        top: auto; /* Restablecer la posición superior */
        left: auto; /* Restablecer la posición izquierda */
        margin-top: 250px; /* Agregar espacio entre el contenedor de tema y el botón de Jugar */
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-container {
        margin-top: 50px;
        /* Reducimos el margen superior */
    }

    .menu-title {
        font-size: 50px;
        /* Ajustamos el tamaño del título */
    }

    .styled-input {
        width: 180px;
        /* Ajustamos el ancho de la cuadrícula */
    }
}

@media screen and (max-width: 768px) {
    .game {
        width: 90%; /* Porcentaje del ancho de la pantalla */
    }

    .controles {
        flex-direction: column; /* Cambiar a disposición de columna */
        align-items: center; /* Centrar elementos */
    }

    #btnVJugar,
    #btnMenu {
        margin: 10px 0; /* Espacio entre botones */
    }

    .fin-options {
        flex-direction: column; /* Cambiar a disposición de columna */
        align-items: center; /* Centrar elementos */
        margin-top: 20px; /* Ajustar margen superior */
    }

    .tablero-container {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
    }
    
    /* Estilos para el tablero */
    .tablero {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Columnas automáticas con tamaño mínimo y máximo */
        grid-gap: 10px; /* Espacio entre las cartas */
        max-width: 90%; /* Máximo ancho del tablero */
    }

    .card {
        width: calc(40vw - 10px); /* Ancho relativo basado en el ancho de la pantalla */
        height: calc(40vw - 10px); /* Alto relativo basado en el ancho de la pantalla */
        max-width: 50px; /* Ancho máximo de las cartas para dispositivos móviles */
        max-height: 50px;
    }
}

/* Para pantallas con un ancho mínimo de 768px y un máximo de 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .game {
        width: 80%; /* Porcentaje del ancho de la pantalla */
    }

    .controles {
        flex-direction: row; /* Volver a disposición de fila */
        justify-content: center; /* Centrar elementos horizontalmente */
    }

    #btnVJugar,
    #btnMenu {
        margin: 0 10px; /* Espacio entre botones */
    }

    .fin-options {
        flex-direction: row; /* Volver a disposición de fila */
        justify-content: center; /* Centrar elementos horizontalmente */
        margin-top: 30px; /* Ajustar margen superior */
    }

    .tablero {
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); /* Columnas automáticas con tamaño mínimo y máximo */
        grid-gap: 10px; /* Espacio entre las cartas */
    }

    .card {
        width: 100%; /* Tamaño completo de las cartas */
    }
}

